$link_color: red;
$button_bg: #1aa565;
$button_bg_hover: #0a894e;

$break-xxl: 1400px;
$break-xl: 1200px;
$break-lg: 992px;
$break-md: 768px;
$break-sm: 576px;
$break-xs: 370px;

$green: #0bfea7;
$red: red;